*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

/* Hero section */
.hero-section {
   height: 100vh;
   background: url("../images/windows.jpg") center no-repeat;
   background-size: cover;
}
/* Nav */
nav {
    height: 70px;
    background: rgb(20, 20, 20);
    color: rgb(220, 220, 220);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav-items,
.overview
.account {
    display: flex;
}
.overview {
    margin-right: 4rem;
}

.logo h2 {
    text-decoration: overline;
    font-style: italic;
    color: rgb(0, 206, 206);
    cursor: pointer;
    margin: 0 0.5rem;
}
nav li {
    list-style: none;
    margin: 0 0.5rem;
}
nav a {
    text-decoration: none;
    color: rgb(220, 220, 220);
}
nav a:hover {
    color:rgb(109, 232, 253);
}
nav a::after {
    content: "";
    display: block;
    height: 3px;
    background:rgb(243, 104, 213);
    width: 0%;
    transition: all ease-in-out 300ms;
}
nav a:hover::after {
    width: 100%;
}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

section {
    background-image: url("../images/windows.jpg");
}

